<article class="grid-article">
    <div class="grid-parent">
        <div class="details-header">
          <div><h3>Warning</h3></div>
        </div>
        <div>You are about to restart the entire system. 
            It may take several minutes to come back and during that time systems might 
            be inaccessible.
            Please provide your passcode below to proceed.
        </div>

        <div class="grid-form">
            <div>
              <label for="pwd">Passcode:</label>
              <input type="password" class="form-control input-lg" id="pwd" placeholder="####"> 
            </div>
            <div><button type="button" class="btn btn-secondary">Cancel</button>
              <button type="button" class="btn btn-success">Submit</button></div>          
        </div>
    </div>
</article>