//==== COLOR ====
$down-color: #ff0000;
$busy-color: #ff7b00;
$active-color: #3fa559;
$kpi-color: #333333;
$kpi-title-color: #666666;
$light-background: #cccccc;

//==== FONT ====
$font-stack:   "Alegreya Sans", Helvetica, sans-serif;

